@require utils
@require variables
@require overlay-editor
@require synth

html
  height: 100%

body
  background: colors.background
  margin: 0
  padding: 0
  min-height: 100%

.wrapper
  position:relative
  top: 50%
  width: 912px
  margin: 0 auto
  height: 400px
  margin-top: -200px


